<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings>
	<add name="DefaultConnetion" connectionString="Data Source=localhost:1521/xepdb1; User Id = jesus; Password = 8734546" />
</connectionStrings>

</configuration>